#card-row {
    font-family: "Great Vibes", cursive;
    /* background-image: url("https://i.ytimg.com/vi/fWZ4c66V1P4/maxresdefault.jpg"); */
    height: 100%;
}
.card-body {
    /* background-image: url("https://i.ytimg.com/vi/fWZ4c66V1P4/maxresdefault.jpg"); */
    background: black;
    color: white;
    height: 80vh;
}
.card-header {
    font-size: 40px;
}
#osman {
    display: none;
}
.card-body {
    display: flex;
    font-size: 50px;
}
.card-footer {
    display: flex;
    justify-content: center;
    text-align: center;
}
.btn {
    font-size: 45px;
}