.card {
    margin-bottom:10px;
}

.jumbotron {
    background-image: url("../images/background-img.jpg");
    background-size: 100%;
    height: 1000px;
    display: flex; /* or inline-flex */
    justify-content: center;
    align-items: center;
    margin-top: -100px;
  }

  .form-inline {
    display: flex; /* or inline-flex */
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  #question {
    display: flex; /* or inline-flex */
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(45deg, #DCDCDC, #505050);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  input {
    border-radius: 0 !important;
  }
#card-row {
    font-family: "Dancing Script", cursive;
    height: 100%;
}
.card-header {
    font-size: 90px;
    font-family: 'Montez', cursive;
    font-weight: 900;

}
.card-title{
    font-size: 50px;
}
.card-body {
    display: flex;
    flex-direction: column;
    font-size: 50px;
    border-radius: 10px;
    color: white;
    width: 101vw;
    height: 100vh;
    margin-left: -20px;
    background-size: cover;
    text-align: center; 
} 
@-webkit-keyframes rise {
    0%   {font-size: 50px; left:0px; top:1px;}
    100% {font-size: 10px; left:0px; top:200px;}
  }
  
  @keyframes rise {
    0%   {font-size: 50px; left:0px; top:1px;}
    100% {font-size: 10px; left:0px; top:200px;}
  }
.card-footer {
    display: flex;
    justify-content: center;
    text-align: center;
}
button {
    font-size: 50px;
}
#response-area {
    display: flex;
}
#eat-page {
    display: none;
}
.card-text {
    width: 100%;
    position: relative;
    -webkit-animation-name: rise; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.75s; /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: reverse;
    animation-name: rise;
    animation-duration: 1.75s;
    animation-direction: reverse;
}
.yelp-image {
  width: 100px;
  height: 100px;
}
.event-image {
  width: 100px;
  height: 100px;
}
.restaurant-results {
  font-family: Tahoma, "Geneva", sans-serif;
}