.card {
    margin-bottom:10px;
}

.jumbotron {
    background-image: url("../images/background-img.jpg");
    background-size: cover;
    height: 1000px;
    display: flex; /* or inline-flex */
    justify-content: center;
    align-items: center;
    margin-top: -100px;
  }

  .form-inline {
    display: flex; /* or inline-flex */
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  #question {
    display: flex; /* or inline-flex */
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(45deg, #DCDCDC, #505050);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  input {
    border-radius: 0 !important;

  }
#card-row {
    font-family: "Great Vibes", cursive;
    /* background-image: url("https://i.ytimg.com/vi/fWZ4c66V1P4/maxresdefault.jpg"); */
    height: 100%;
}
img {
    border-radius: 10px;
}
.card-header {
    font-size: 40px;
}
.card-body {
    display: flex;
    font-size: 50px;
    border-radius: 10px;
    color: white;
    width: 101vw;
    height: 95vh;
    margin-left: -20px;

} 
.card-footer {
    display: flex;
    justify-content: center;
    text-align: center;
}
button {
    font-size: 50px;
}
.hero-button {
    font-size: 50px;
}   
#button-span {
    font-size:35px;
}
#response-area {
    display: flex;
}